@model VivesBlog.ViewModels.BlogAuthorViewModel;

@{
    //origineel (kan slechts 1 veld tonen in de dropdown):
    //var authors = new SelectList(Model.Authors, "Id", "Voornaam", 0);

    //de lijst omzetten zodat je eender wat kan visualiseren in de dropdown
    var authorList = Model.Authors.Select(a =>
        new
        {
            Id = a.Id,
            Name = $"{a.Voornaam} {a.Naam}"
        });
    var authors = new SelectList(authorList, "Id", "Name", 0);
    
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label asp-for="Blog.Titel"></label>
    <input asp-for="Blog.Titel" class="form-control"/>
    <span asp-validation-for="Blog.Titel" class="text-danger"></span>
    <br />
    
    <label asp-for="Blog.Inhoud"></label>
    <input asp-for="Blog.Inhoud" type="text" class="form-control"/>
    <span asp-validation-for="Blog.Inhoud" class="text-danger"></span>
    <br />
    
    <label asp-for="Blog.AuthorId">Auteur</label>
    <select asp-for="Blog.AuthorId" asp-items="@authors" class="form-control"></select>
    <input type="submit" value="Aanmaken" class="btn btn-primary" style="margin-top: 10px;"/>
</form>