@model VivesBlog.ViewModels.BlogAuthorViewModel;

@{
    var authors = new SelectList(Model.Authors, "Id", "Voornaam", 0);
}

<form method="post">
    <label asp-for="Blog.Titel">Titel</label>
    <input asp-for="Blog.Titel" class="form-control" />
    <label asp-for="Blog.Inhoud">Inhoud</label>
    <input asp-for="Blog.Inhoud" type="text" class="form-control"/>
    <label asp-for="Blog.AuthorId">Auteur</label>
    
    <select asp-for="Blog.AuthorId" asp-items="@authors" class="form-control"></select>
    <input type="submit" value="Aanmaken" class="btn btn-primary" style="margin-top: 10px;"/>
</form>