@model IEnumerable<VivesBlog.Models.Blog>;

@{
    ViewBag.Title = "Blogs";
    Layout = "_Layout";
}

<table class="table table">
    <tr>
        <th>Titel</th>
        <th>Inhoud</th>
        <th>Auteur</th>
    </tr>
    @foreach (var blog in Model)
    {
        <partial name="BlogPartial" model="blog" />
    }

</table>