# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VivesBlog.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\Vives\Projecten Visual Studio- WebDev\VivesBlog\.idea\.idea.VivesBlog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
