@model VivesBlog.Models.Author;

<form method="post">
    <label asp-for="Voornaam">Voornaam</label>
    <input asp-for="Voornaam" class="form-control" />
    <label asp-for="Naam">Naam</label>
    <input asp-for="Naam" class="form-control" />
    <input type="submit" value="Aanmaken" class="btn btn-primary" style="margin-top: 10px;" />
</form>
