@model VivesBlog.Models.Author;

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <label asp-for="Voornaam">Voornaam</label>
    <input asp-for="Voornaam" class="form-control" value="@Model.Voornaam"/>
    <span asp-validation-for="Voornaam" class="text-danger"></span>
    <br />
            
    <label asp-for="Naam">Naam</label>
    <input asp-for="Naam" class="form-control" value="@Model.Naam"/>
    <span asp-validation-for="Naam" class="text-danger"></span>
    <br />
        
    <input type="submit" value="Bewerken" class="btn btn-primary" style="margin-top: 10px;"/>
</form>